@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Indie+Flower&display=swap');

:root{
    --primary-color: #00c1d5;
    --secondary-color: #166391;
    --tertiary-color: #fbd872;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

::-webkit-scrollbar {
  display: none;
}

.Toastify__close-button{
  display: none;
}